language: node_js
node_js:
  - "0.11"
  - "0.10"
  - "0.8"
before_script:
  - gem install sass
  - export DISPLAY=:99.0                          # HARDY - Only for Firefox
  - sh -e /etc/init.d/xvfb start                  # HARDY - Only for Firefox
  - node_modules/hardy/bin/hardy selenium start   # HARDY
  - firefox --version                             # HARDY - Only for Firefox
  - phantomjs --version                           # HARDY
  - cd source
  - ../node_modules/wintersmith/bin/wintersmith build
  - cd ../dist
  - python -m SimpleHTTPServer&                   # HARDY
  - cd ..
after_success:
  - git add dist                    # Commit dist/ folder as root of gh-pages
  - git commit -m"Updating site after successful build"
  - git subtree push --prefix dist origin gh-pages
env:
  global:
    - secure: "Tf43m4KJW3jC8sUp5nLgzDciHU5YZ4V4wwmFKFXYu3G5ElYRQO5AqGvRc+dCuPPUYXeu9AlMzxiB5bVNyDK7zl7ez+bdnTu+z/r5Bxle397NFhmfE4yrsnVky8UKlUCQRCouaG5YyrtzadpRb7hVGj2cemSpbDBkRhOCJcjhJDE="
branches:
  except:
    - gh-pages