.contain
    block header
      p.gh
        a(href='/') Home
      ul
        li.gs
          a(href='/getting-started.html') Getting Started
        li.sub

          a(href='/') 
            img(src="/images/menu.svg") 
            |  Navigation
            
        li
          a(href='https://github.com/thingsinjars/hardy.io') Source
