$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';

@font-face {
    font-family: 'keep_calmmedium';
    src: url('../fonts/keepcalm-medium-webfont.eot');
    src: url('../fonts/keepcalm-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/keepcalm-medium-webfont.woff') format('woff'),
         url('../fonts/keepcalm-medium-webfont.ttf') format('truetype'),
         url('../fonts/keepcalm-medium-webfont.svg#keep_calmmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
h1,h2,h3 {
    font-weight: 200;
    color: #5e7270;
}
.hero-unit {
    margin: 0 auto 40px auto;
    padding:60px 60px 150px 60px;
    background: #5e7270 url(../images/bg.png);
    border-radius: 0;
}
.hero-unit h1, .hero-unit h2, .hero-unit p {
	color:white;
	font-weight: normal;
}
.hero-unit h1 {
	font-family: 'keep_calmmedium', "Gill Sans", Avenir, sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.navbar {
    margin-bottom:0;
}
[class^="icon-"], [class*=" icon-"] {
    background-image: url("../images/glyphicons-halflings-white.png");
}

.navbar .container {
    width:auto;
}
.secondary-page .navbar .container {
    width: 940px;
}
.navbar-inner {
    border-radius: 0;
}
.navbar .brand {
	background: url(../images/logo.svg) 50% 50% no-repeat;
  background-size: contain;
    height: 336px;
    position: absolute;
    // width: 190px;
    margin-top: 50px;
    // margin-left: 50px;
}

.secondary-page .navbar .brand {
    height: 160px;
    // width: 97px;
    margin-top: 10px;
    // margin-left: 50px;
    background-size: contain;
}

.secondary-page {
    background: #5e7270 url(../images/bg.png);
}
.secondary-page .content {
    background: white;
}
.container.content {
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.nav {
    margin-top: 160px;
}
.nav li {
    padding: 0.5em;
}
pre {
    background: black;
    border: none;
    border-top: 20px solid lightgrey;
    box-shadow: 0 3px 5px rgba(0,0,0,0.5);
}
pre code {
    color: white;
}
pre code span {
    color: rgb(82, 172, 0);
}

.content img {
    border: 0.5em solid #3e3e3e;
    box-shadow: 0 0 11px rgba(0,0,0,0.7);
}

h1, h2, h3 {
    margin-top:30px;
}

footer {
    text-align: center;
}

/* Coyierian Beta Ribbon */
.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}

@media (min-width: 1200px) {
    .navbar .container, .secondary-page .navbar .container {
        width: 1170px;
    }

}
@media (max-width: 767px) {
    .navbar .brand {
        display:none;
    }
    .nav {
        margin-top:0;
    }
}
@media (max-width: 767px) {
    .secondary-page .navbar .container {
       width: auto;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .secondary-page .navbar .container {
       width: 724px;
    }
}